{% extends 'learning_logs/base.html' %}


{% load i18n %}
{% load bootstrap3 %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url 'account_settings' %}">
                <legend>{% trans "Account" %}</legend>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>

    {% block subnav %}
    <div class="row">
        <div class="panel-heading"><strong>{% trans "Addittional Actions" %}</strong></div>
        <div class="list-group">
            <a class="list-group-item account-password" href="{% url 'account_password' %}">
                {% trans "Change password" %}
            </a>
            <a class="list-group-item account-delete" href="{% url 'account_delete' %}">
                {% trans "Delete account" %}
            </a>
        </div>
    </div>
    {% endblock %}
{% endblock content %}
